<header class="navbar">
    <div class="navbar-container">
        <div class="logo">
            <a href="/#hero">
                <img src="/images/logo-web-white.png" alt="Patrik Bednář - Logo">
            </a>
        </div>
        <nav class="main-menu">
            <ul>
                <li><a href="/#o-mne">O mně</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/#stuzkace">Stužkáče</a></li>
            </ul>
        </nav>
        <button class="hamburger-btn" id="hamburger-btn" aria-label="Otevřít menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>